export SOURCE_REPO_ROOT=.kentrino/todo-sync
export SOURCE_REPO_DIRECTORY=packages/di

export TARGET_DIRECTORY=packages/tamano
export PACKAGE_NAME=tamano
export PACKAGE_VERSION=0.1.0
export PACKAGE_LICENSE=MIT

export OUTPUT_DIR=.bench
